/*Footer-v1
------------------------------------*/
.footer-v1 .footer {
	padding: 25px 10;	
	background: #e6e6e7;
}

.footer-v1 .footer p {
	color: #eee;
}

.footer-v1 .footer h2 {
	color: #eee;
	font-size: 18px;
	font-weight: 200;
}

/*Link List*/
.footer-v1 .link-list li {
	border-top: solid 1px #353535;
}

.footer-v1 address,
.footer-v1 .link-list a,
.footer-v1 .link-list i {
	color: #eee;
}

.footer-v1 address {
	line-height: 23px;
}

/*Dotted Map*/
.footer-v1 .footer .map-img {
	background: url(../../img/map-img.png) 5px 60px no-repeat;
}

/*Blog Posts (with images)*/
.footer-v1 .footer .posts .dl-horizontal a {
 color: #dadada;
}

.footer-v1 .footer .dl-horizontal a:hover {
 color: #5fb611 !important;
}

/*Copyright*/
.footer-v1 .copyright {
	background: #222;
	border-top: none;
	padding: 10px 0 5px;
}

.footer-v1 .copyright p {
	color: #eee;
	margin-top: 14px;
}

.footer-v1 .copyright a {
	margin: 0 2px;
}

.footer-v1 .footer-socials {
	margin-top: 12px;
	text-align: right;
}

.footer-v1 .footer-socials li a {
	color: #777;
	font-size: 16px;
}

@media (max-width: 991px) {
	.footer-v1 .copyright,
	.footer-v1 .footer-socials {
		text-align: left;
	}
}


/* COLUMNS ------------------------------------------------------------------- */

.pull-center{
  width: 75%;
}

/* float 50%-50% width */
.pull-right-50 {
  width: 49%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-50 {
  width: 49%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

/* float 30% 70% width */
.pull-right-30 {
  width: 29%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-right-70 {
  width: 69%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-30 {
  width: 29%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-70 {
  width: 69%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

/* float 40% 60% width */
.pull-right-40 {
  width: 39%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-right-60 {
  width: 59%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-40 {
  width: 39%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-60 {
  width: 59%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

/* float 30% 70% width */
.pull-right-30 {
  width: 29%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-right-70 {
  width: 69%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-30 {
  width: 29%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-70 {
  width: 69%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}



/*-- TABLES --*/
.remark-slide table {
  margin:              auto;
  border-top:          1px solid #768692;
  border-bottom:       1px solid #768692;
}

/*-- Table header --*/
.remark-slide table thead th {
    border-bottom:       1px solid #768692;
}

.remark-slide table tbody td {
  text-align: center;
}

/*-- Table rows (even)--*/
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) {
  background:          #E8EDEE;
}
 
/*--BUTTON--*/
.button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #7aa8b7;
        border-radius: 6px;
        outline: none;
 }

/*--blockquote--*/
blockquote, .blockquote {
  display: block;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  margin-left: 5px;
  margin-right: 5px;
  border-left: solid 10px #0148A4;
  border-top: solid 2px #0148A4;
  border-bottom: solid 2px #0148A4;
  border-right: solid 2px #0148A4;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  /* background-color: #0d0200; */
  color: #0d0200;
  padding: 0.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: relative;
}

.blockquote p {
  margin-top: 0px;
  margin-bottom: 10px;
}
.blockquote > h1:first-of-type {
  margin-top: 0px;
  margin-bottom: 10px;
}
.blockquote > h2:first-of-type {
  margin-top: 0px;
  margin-bottom: 10px;
}
.blockquote > h3:first-of-type {
  margin-top: 0px;
  margin-bottom: 10px;
}
.blockquote > h4:first-of-type {
  margin-top: 0px;
  margin-bottom: 10px;
}

.text-shadow {
  text-shadow: 0 0 10px #424242;
}


/** div style for instructions **/
.boxy {
 /*border: 1px solid var(--color-primary);*/
 background-color: var(--color-boxy-bg);
 border: 1px solid var(--color-border);
 border-left: 6px solid var(--color-border);
 border-radius: 0px 4px 4px 0px;
 padding: 10px 10px 0px 10px;
 margin: 10px 0px 10px 0px;
 position: relative;
}

.boxy::before {
  background-color: var(--color-border) !important;
}

.boxy-primary {
  color: #3c787f;
  background-color: #edf4f5;
  border-color: #c9dfe2;
  border-left-color: #3c787f;
}

.boxy-primary::before {
  background-color: #3c787f !important;
}

.boxy-orange {
 color: #bf6300;
 background-color: #fdf1e5;
 border-color: #fad7b2;
 border-left-color: #bf6300;
}

.boxy-orange::before {
  background-color: #bf6300 !important;
}

.boxy-warning {
 color: #8a6d3b;
 background-color: #fcf8e3;
 border-color: #faebcc;
 border-left-color: #8a6d3b;
}

.boxy-warning::before {
  background-color: #8a6d3b !important;
}

.boxy-success {
 color: #3c763d;
 background-color: #dff0d8;
 border-color: #d6e9c6;
 border-left-color: #3c763d;
}

.boxy-success::before {
  background-color: #3c763d !important;
}

.boxy-danger {
 color: #a94442;
 background-color: #f2dede;
 border-color: #ebccd1;
 border-left-color: #a94442;
}

.boxy-danger::before {
  background-color: #a94442 !important;
}

.boxy-info {
 color: #31708f;
 background-color: #d9edf7;
 border-color: #bce8f1;
 border-left-color: #31708f;
}

.boxy-info::before {
  background-color: #31708f !important;
}


